

<br><br><br>
<center>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><U><h2>Modify your shitty event</h2></U></li>

  <%= form_tag url_for(action: 'update'), method: "put" do %>
     <br /> <br />
<div class="form-group">
     <%= label_tag 'Change the name of your event: ' %>
     <%= text_field_tag 'title', "#{@events.title}"%>
     <br /> <br />
 </div>
      <div class="form-group">
     <%= label_tag 'Give them a better description' %>
     <%= text_area_tag 'description', "#{@events.description}" %>
     <br /> <br />

      </div>
        <div class="form-group">
     <%= label_tag 'Too optimit about the pricing right?' %>
     <%= text_field_tag 'price', "#{@events.price}" %>
     <br /> <br />

      </div>
         <div class="form-group">
     <%= label_tag 'Where does it REALLY take place ?' %>
     <%= text_field_tag 'location', "#{@events.location}"%>
     <br /> <br />

      </div>

     <div class="form-group">
     <%= label_tag 'When does it start bro?' %>
     <%= text_field_tag 'start_date', "#{@events.start_date}"
 %>
     <br /> <br />
      </div>

     <div class="form-group">
     <%= label_tag 'How long is it for real ?' %>
     <%= text_field_tag 'duration', "#{@events.duration}"
 %>
     <br /> <br />

      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Modify my fuckin event</button>
      </div>
      
   <% end %>


</center>

